# Consensus
/consensus/ @youngjoon-lee @danielSanchezQ
/nomos-services/chain @youngjoon-lee @danielSanchezQ

# Mantle
/ledger/ @danielSanchezQ @youngjoon-lee @bacv

# Blend
/nomos-blend/  @youngjoon-lee @ntn-x2 @danielSanchezQ
/nomos-services/blend @youngjoon-lee @ntn-x2 @danielSanchezQ

# DA
/nomos-services/data-availability @danielSanchezQ @bacv @pradovic
/nomos-da/ @danielSanchezQ @bacv @pradovic

# SDP
/nomos-sdp/ @bacv @pradovic @danielSanchezQ
/nomos-services/sdp @bacv @pradovic @danielSanchezQ

# This file
/.github/CODEOWNERS @danielSanchezQ